{% extends './layout/root_layout.njk' %}
{% block title %} ابشر سفر {% endblock %}

{% block content %}

    <!-- /.container-fluid -->
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center" style="height: 95vh;">

            <div class="col-md-6 row pt-3">
                <div class="col-6">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline" style="height: 430px;">
                        <div class="card-body box-profile">

                            <ul class="list-group list-group-unbordered mb-3 mt-0 row">
                                <li class="list-group-item">
                                    <a id="cameraId" class="float-left">N/A</a>
                                    <b class="float-right">رقم الكاميرا</b>
                                </li>
                                <li class="list-group-item">
                                    <a id="cameraName" class="float-left ellipsis" style="max-width: 210px">N/A</a>
                                    <b class="float-right">اسم الكاميرا</b>
                                </li>
                                <li class="list-group-item">
                                    <a id="enterDateTime" class="float-left">N/A</a>
                                    <b class="float-right">وقت االدخول</b>
                                </li>
                            </ul>

                            <div class="text-muted text-center">
                                <!-- small box -->
                                <div id="openGateBg" class="small-box bg-info">
                                    <div class="inner">
                                        <br>
                                        <h3 id="openGateStatus">انتظار</h3>
                                        <p>حالة البوابة</p>
                                        {# <h4>فتح</h4> #}
                                        <br>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
                <div class="col-6">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline" style="height: 430px;">
                        <div class="card-body box-profile">

                            <form>

                                <ul class="list-group list-group-unbordered mb-3 mt-0" dir="rtl">
                                    <li class="list-group-item row" >
                                        {# <b>Plate</b> #}
                                        {# <a class="float-right">75034-9-AD</a> #}
                                        <div class="col-12 row">
                                            <b>رقم اللوحة</b>
                                            <div class="col-12 mb-1">
                                                <input 
                                                    id="plateNumbers"
                                                    class="form-control" 
                                                    placeholder="الارقام" 
                                                    type="number" 
                                                    style="width: 100%">
                                            </div>
                                            <div class="col-12">
                                                <input 
                                                    id="plateArabicLetters" 
                                                    class="form-control" 
                                                    placeholder="الحروف العربيه" 
                                                    type="text" 
                                                    style="width: 100%">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item row">
                                        <div class="col-12 row">
                                            <b>نوع اللوحة</b>
                                            <div class="col-12">
                                                <select id="plateType" class="form-control" style="width: 100%">
                                                    <option value="PRIVATE_TRANSPORT">لوحة نقل خاصه</option>
                                                    <option value="PRIVATE">لوحة خاصه</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item row">
                                        <div class="col-12 row">
                                            <b>لديه مقطورة خاصة</b>
                                            <div class="col-12">
                                                <select id="hasTowingTrailer" class="form-control" style="width: 100%">
                                                    <option value="TRUE">نعم</option>
                                                    <option value="FALSE">لا</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </form>

                            <a href="#" class="btn btn-primary btn-block mb-2">
                                <b>فحص يدوي</b>
                            </a>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </div>
    </div>
    <!-- /.container-fluid -->

{% endblock %}

{% block scripts %}

    <script>

        let socket;

        function connectWebsocket() {

            socket = new WebSocket(`ws://${location.host}`);

            socket.addEventListener('open', (event) => {
                console.log('WebSocket connection opened:', event);
            });
            /**
{
    "event": "abshirSafarGateResult",
    "data": {
        "success": true,
        "travelRequest": {
            "action": "TRAVEL_REQUEST",
            "vehicleRegistrationType": "PRIVATE",
            "vehiclePlateNumber": "undefined م ص ر",
            "providerReferenceNumber": "ABC-123-xyz",
            "hasTowingTrailer": false,
            "transactionId": "ff6e9bb0-3605-11ef-878c-8342d48e6239",
            "request_date": "2024/06/29",
            "request_time": "14:54:45",
            "open_gate": false
        },
        "requestSource": {
            "lpr_id": "1",
            "lpr_name": "LPR: Plate Recognizer 1",
            "cam_id": "3",
            "cam_name": "LPR Cam2"
        },
        "extractedPlate": {
            "numbers": "8988",
            "arabicLetters": "مصر",
            "englishLetters": "ZXR"
        }
    }
}
            */

            let openGateBg = $('#openGateBg');
            let openGateStatus = $('#openGateStatus');
            let enterDateTime = $('#enterDateTime');
            let cameraName = $('#cameraName');
            let cameraId = $('#cameraId');
            //
            let plateNumbers = $('#plateNumbers');
            let plateArabicLetters = $('#plateArabicLetters');
            let plateType = $('#plateType');
            let hasTowingTrailer = $('#hasTowingTrailer');
            

            socket.addEventListener('message', (event) => {
                let data = JSON.parse(event.data);
                console.log('Received message:', data);
                if (data.event === "abshirSafarGateResult") {

                    let travelRequest = data.data.travelRequest;
                    let requestSource = data.data.requestSource;
                    let extractedPlate = data.data.extractedPlate;
                    
                    plateNumbers.val(extractedPlate.numbers);
                    plateArabicLetters.val(extractedPlate.arabicLetters);
                    plateType.val(travelRequest.vehicleRegistrationType);
                    hasTowingTrailer.val(travelRequest.hasTowingTrailer ? "TRUE": "FALSE");

                    enterDateTime.html(`${travelRequest.request_date} ${travelRequest.request_time}`);
                    cameraName.html(requestSource.cam_name);
                    cameraId.html(requestSource.cam_id);


                    if (travelRequest.open_gate === true) {
                        openGateBg.removeClass('bg-info');
                        openGateBg.removeClass('bg-danger');

                        openGateBg.addClass('bg-success');
                        openGateStatus.html('مصرح')
                    } else {
                        openGateBg.removeClass('bg-info');
                        openGateBg.removeClass('bg-success');

                        openGateBg.addClass('bg-danger');
                        openGateStatus.html('غير مصرح')
                    }

                }
                /*
                // kashifErrorHappened
                if (data.event === "getVehicleLegalStatusDetailInfoByPlate") {
                    setCarPlate(data.data.car_plate);
                    displayKashifInfo(data.data.kashif_resp);
                }

                if (data.event === "kashifErrorHappened") {
                    new Toast({message: `${data.data.error}`, type: 'danger'});
                }
                */
            });

            socket.addEventListener('close', (event) => {
                console.log('WebSocket connection closed:', event);
                setTimeout(() => {
                    console.log("[*] Trying to reconnect socket");
                    // Call function again
                    connectWebsocket();
                }, 2000);
            });

        }

        connectWebsocket();
    </script>

{% endblock %}